# Student Loan Risk with Deep Learning

In [21]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [22]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [23]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [24]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [25]:
# Define the target set y using the credit_ranking column
X = loans_df.drop(columns=["credit_ranking"])
y = loans_df["credit_ranking"].values

# df = pd.DataFrame(X, y)

# Display a sample of y
print("Target (y):", y[:5])

Target (y): [0 0 0 1 0]

In [26]:
# Define features set X by selecting all columns but credit_ranking
# features_df = X.drop(columns=["credit_ranking"])

# # Review the features DataFrame
# features_df

### Step 3: Split the features and target sets into training and testing datasets.

In [27]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [28]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
x_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
x_train_scaled = x_scaler.transform(X_train)
x_test_scaled = x_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [29]:
# Define the the number of inputs (features) to the model
features = len(X_train.columns)


# Review the number of features

features

11

In [41]:
# Define the number of hidden nodes for the first hidden layer
neurons = 6

# Define the number of hidden nodes for the second hidden layer
neurons2 = 3

# Define the number of neurons in the output layer

neurons3 = 1

In [42]:
# Create the Sequential model instance
model = Sequential()

# Add the first hidden layer
model.add(Dense(units=neurons, input_dim=features, activation="relu"))

# Add the second hidden layer
model.add(Dense(units=neurons2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
model.add(Dense(units=neurons3, activation="sigmoid"))

In [43]:
# Display the Sequential model summary
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dense_1 (Dense)             (None, 3)                 21

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 97
Trainable params: 97
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [44]:
# Compile the Sequential model
model.compile(
    loss= "binary_crossentropy",
    optimizer = "adam",
    metrics = ["accuracy"] 
)

In [45]:
# Fit the model using 50 epochs and the training data
model.fit(x_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 0s 564us/step - loss: 0.6880 - accuracy: 0.5721
Epoch 2/50
 1/38 [..............................] - ETA: 0s - loss: 0.6702 - accuracy: 0.6875

2025-01-30 18:26:05.157677: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

38/38 [==============================] - 0s 513us/step - loss: 0.6717 - accuracy: 0.5997
Epoch 3/50
38/38 [==============================] - 0s 469us/step - loss: 0.6576 - accuracy: 0.6214
Epoch 4/50
38/38 [==============================] - 0s 444us/step - loss: 0.6439 - accuracy: 0.6489
Epoch 5/50
38/38 [==============================] - 0s 458us/step - loss: 0.6306 - accuracy: 0.6722
Epoch 6/50
38/38 [==============================] - 0s 441us/step - loss: 0.6171 - accuracy: 0.6856
Epoch 7/50
38/38 [==============================] - 0s 444us/step - loss: 0.6041 - accuracy: 0.6964
Epoch 8/50
38/38 [==============================] - 0s 436us/step - loss: 0.5915 - accuracy: 0.7039
Epoch 9/50
38/38 [==============================] - 0s 439us/step - loss: 0.5798 - accuracy: 0.7148
Epoch 10/50
38/38 [==============================] - 0s 423us/step - loss: 0.5692 - accuracy: 0.7206
Epoch 11/50
38/38 [==============================] - 0s 440us/step - loss: 0.5605 - accuracy: 0.7264
Epoch 12/50
38/38 [==============================] - 0s 464us/step - loss: 0.5524 - accuracy: 0.7306
Epoch 13/50
38/38 [==============================] - 0s 474us/step - loss: 0.5459 - accuracy: 0.7323
Epoch 14/50
38/38 [==============================] - 0s 448us/step - loss: 0.5405 - accuracy: 0.7373
Epoch 15/50
38/38 [==============================] - 0s 452us/step - loss: 0.5360 - accuracy: 0.7381
Epoch 16/50
38/38 [==============================] - 0s 436us/step - loss: 0.5327 - accuracy: 0.7356
Epoch 17/50
38/38 [==============================] - 0s 465us/step - loss: 0.5292 - accuracy: 0.7381
Epoch 18/50
38/38 [==============================] - 0s 536us/step - loss: 0.5266 - accuracy: 0.7406
Epoch 19/50
38/38 [==============================] - 0s 531us/step - loss: 0.5236 - accuracy: 0.7431
Epoch 20/50
38/38 [==============================] - 0s 426us/step - loss: 0.5212 - accuracy: 0.7431
Epoch 21/50
38/38 [==============================] - 0s 403us/step - loss: 0.5181 - accuracy: 0.7440
Epoch 22/50
38/38 [==============================] - 0s 438us/step - loss: 0.5159 - accuracy: 0.7440
Epoch 23/50
38/38 [==============================] - 0s 412us/step - loss: 0.5138 - accuracy: 0.7498
Epoch 24/50
38/38 [==============================] - 0s 405us/step - loss: 0.5122 - accuracy: 0.7515
Epoch 25/50
38/38 [==============================] - 0s 427us/step - loss: 0.5108 - accuracy: 0.7498
Epoch 26/50
38/38 [==============================] - 0s 406us/step - loss: 0.5088 - accuracy: 0.7531
Epoch 27/50
38/38 [==============================] - 0s 421us/step - loss: 0.5076 - accuracy: 0.7556
Epoch 28/50
38/38 [==============================] - 0s 419us/step - loss: 0.5064 - accuracy: 0.7556
Epoch 29/50
38/38 [==============================] - 0s 417us/step - loss: 0.5047 - accuracy: 0.7581
Epoch 30/50
38/38 [==============================] - 0s 413us/step - loss: 0.5038 - accuracy: 0.7573
Epoch 31/50
38/38 [==============================] - 0s 413us/step - loss: 0.5031 - accuracy: 0.7631
Epoch 32/50
38/38 [==============================] - 0s 436us/step - loss: 0.5024 - accuracy: 0.7615
Epoch 33/50
38/38 [==============================] - 0s 408us/step - loss: 0.5010 - accuracy: 0.7606
Epoch 34/50
38/38 [==============================] - 0s 420us/step - loss: 0.5005 - accuracy: 0.7623
Epoch 35/50
38/38 [==============================] - 0s 420us/step - loss: 0.4997 - accuracy: 0.7631
Epoch 36/50
38/38 [==============================] - 0s 430us/step - loss: 0.4989 - accuracy: 0.7640
Epoch 37/50
38/38 [==============================] - 0s 412us/step - loss: 0.4983 - accuracy: 0.7590
Epoch 38/50
38/38 [==============================] - 0s 406us/step - loss: 0.4972 - accuracy: 0.7615
Epoch 39/50
38/38 [==============================] - 0s 404us/step - loss: 0.4969 - accuracy: 0.7631
Epoch 40/50
38/38 [==============================] - 0s 417us/step - loss: 0.4961 - accuracy: 0.7656
Epoch 41/50
38/38 [==============================] - 0s 415us/step - loss: 0.4954 - accuracy: 0.7648
Epoch 42/50
38/38 [==============================] - 0s 430us/step - loss: 0.4950 - accuracy: 0.7656
Epoch 43/50
38/38 [==============================] - 0s 414us/step - loss: 0.4947 - accuracy: 0.7623
Epoch 44/50
38/38 [==============================] - 0s 411us/step - loss: 0.4947 - accuracy: 0.7631
Epoch 45/50
38/38 [==============================] - 0s 505us/step - loss: 0.4929 - accuracy: 0.7656
Epoch 46/50
38/38 [==============================] - 0s 511us/step - loss: 0.4922 - accuracy: 0.7615
Epoch 47/50
38/38 [==============================] - 0s 410us/step - loss: 0.4922 - accuracy: 0.7631
Epoch 48/50
38/38 [==============================] - 0s 412us/step - loss: 0.4922 - accuracy: 0.7640
Epoch 49/50
38/38 [==============================] - 0s 408us/step - loss: 0.4913 - accuracy: 0.7648
Epoch 50/50
38/38 [==============================] - 0s 405us/step - loss: 0.4900 - accuracy: 0.7631

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [47]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = model.evaluate(x_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results

print(model_loss)

print(model_accuracy)

13/13 - 0s - loss: 0.5163 - accuracy: 0.7450 - 16ms/epoch - 1ms/step
0.5163152813911438
0.7450000047683716

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [48]:
# Set the model's file path
file_path = Path("save_models/student_loans.keras")

# Export your model to a keras file
model.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [49]:
# Set the model's file path


# Load the model to a new object
loaded_model = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [50]:
# Make predictions with the test data
predictions = loaded_model.predict(x_test_scaled, verbose=2)

# Display a sample of the predictions

predictions[:5]

13/13 - 0s - 39ms/epoch - 3ms/step

array([[0.39335427],
       [0.2797737 ],
       [0.8875353 ],
       [0.6347974 ],
       [0.9609047 ]], dtype=float32)

In [51]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame(data = predictions, columns=["predictions"])
predictions_df["predictions"] = round(predictions_df["predictions"], 0)

predictions_df

     predictions
0            0.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [53]:
# Print the classification report with the y test data and predictions

print(classification_report(y_test, predictions_df["predictions"].values))

              precision    recall  f1-score   support

           0       0.71      0.76      0.74       188
           1       0.78      0.73      0.75       212

    accuracy                           0.74       400
   macro avg       0.74      0.75      0.74       400
weighted avg       0.75      0.74      0.75       400

---
## Discuss creating a recommendation system for student loans

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate. In order to build a recommendation system, we'd need data such as financial history , previous transactions, loan amounts, lending statistics. This data acquisition would also depend on the type of recommendation system we are building.
2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method. My model would use collaborative filtering as we'd like to recommend specific items a user might like based on the preferences of other similar users. 
3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system. Two real-world challenges here would be data availability - it's necessary to have basic and also private information on each person, and that's not easily findable. Another challenge might be frequency in training the model: as a neural network gets increasingly complex, it can be harder to understand how decisions are made and with expected varied frequency in new data, this might affect the output negatively & necessitate frequent re-training.